# 22 feb assignment pandas

## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
data=[4,8,15,16,23,42]
series=pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on thevariable print it.

In [3]:
List=[11,12,13,14,15,16,17,18,19,20]
series2=pd.Series(List)
print(series2)

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
9    20
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:

In [4]:
data={"Name":["Alice","Bob","Claire"],
     "Age":[25,30,27],
     "Gender":["Female","Male","Female"]}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame in Pandas is a two-dimensional labeled data structure with columns of potentially different types.

It is similar to a spreadsheet or a SQL table. In a DataFrame, each column can be considered as a Series object.

A Series, on the other hand, is a one-dimensional labeled array that can hold any data type such as integers, strings, or floating-point 

numbers. Each element in a Series has a label called an index.

The main difference between a DataFrame and a Series is that a DataFrame can contain multiple Series objects as columns, while a Series 

represents a single column or row of data. In other words, a DataFrame is a collection of Series objects arranged in a tabular fashion.

Here's an example that demonstrates the difference between a DataFrame and a Series:

In [5]:
import pandas as pd

# Creating a DataFrame
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40],
    'country': ['USA', 'Canada', 'UK', 'Australia']
}
df = pd.DataFrame(data)

# Creating a Series
s = pd.Series([1, 2, 3, 4])

# Printing the DataFrame and Series
print('DataFrame:')
print(df)
print('\nSeries:')
print(s)

DataFrame:
      name  age    country
0    Alice   25        USA
1      Bob   30     Canada
2  Charlie   35         UK
3    David   40  Australia

Series:
0    1
1    2
2    3
3    4
dtype: int64

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Canyou give an example of when you might use one of these functions?

In [6]:
# head() and tail(): Used to display the first or last n rows of a DataFrame, respectively. For example:
import pandas as pd

# create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Age': [25, 30, 35, 40, 45],
        'Country': ['USA', 'Canada', 'UK', 'Australia', 'USA']}
df = pd.DataFrame(data)

# display the first two rows of the DataFrame
print(df.head(2))

# display the last three rows of the DataFrame
print(df.tail(3))

    Name  Age Country
0  Alice   25     USA
1    Bob   30  Canada
      Name  Age    Country
2  Charlie   35         UK
3    David   40  Australia
4    Emily   45        USA

In [7]:
# groupby(): Used to group the DataFrame by one or more columns and apply a function to each group. For example:
# group the DataFrame by Country and calculate the mean age for each group
df_grouped = df.groupby('Country')['Age'].mean()
print(df_grouped)

Country
Australia    40.0
Canada       30.0
UK           35.0
USA          35.0
Name: Age, dtype: float64

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, Series and DataFrame are mutable in nature, whereas Panel is deprecated and considered immutable.

When we say that a data structure is mutable, it means that the data in the structure can be changed or modified. For example, you can add

or remove elements from a mutable data structure.

In the case of Series, you can modify individual elements in the Series using indexing, and you can also add or remove elements from the